Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

bandit:
  name: 🎰 Checking using bandit
  language: system
  entry: poetry run bandit
  require_serial: true

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

debug-statements:
  name: 🪵  Debug Statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

flake8:
  name: 👔 Enforcing style guide with flake8
  language: system
  entry: poetry run flake8
  require_serial: true

isort:
  name: 🔀 Sort all imports with isort
  language: system
  entry: poetry run isort

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pyright:
  name: 🆎 Static type checking using pyright
  language: system
  entry: npm run pyright
  pass_filenames: false

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

pyupgrade:
  name: 🆙 Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py36-plus

vulture:
  name: 🔍 Find unused Python code with Vulture
  language: system
  entry: poetry run vulture
  pass_filenames: false
  require_serial: true

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Fix deepcode found issue
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix codeql failing on dependabot PRs
  .github/workflows/codeql.yaml
Due: check-yaml, codespell, yamllint

Fix codeql failing on dependabot PRs (#297)
  .github/workflows/codeql.yaml
Due: check-yaml, codespell, yamllint

:zap: - Reduce state lookups
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Allow manual dispatching label workflow
  .github/workflows/labels.yaml
Due: check-yaml, codespell, yamllint

Allow manual dispatching label workflow (#300)
  .github/workflows/labels.yaml
Due: check-yaml, codespell, yamllint

Run PR Labels verify on pull_request_target
  .github/workflows/pr-labels.yaml
Due: check-yaml, codespell, yamllint

Add pull request number
  .github/workflows/pr-labels.yaml
Due: check-yaml, codespell, yamllint

Allow manual dispatching label workflow (#301)
  .github/workflows/pr-labels.yaml
Due: check-yaml, codespell, yamllint

Reduce state lookups (#299)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add new leds property 'wv'. Indicates whether a white value should be sent. It is set to false if the controller is running in calculated white mode.
  src/wled/models.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Address pylint warning
  pyproject.toml
  tests/test_wled.py
Due: black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add new leds property 'wv' (#233)
  pyproject.toml
  src/wled/models.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add fps property to device info data
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add websocket property to Info object
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add fps property to device info data (#302)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add websocket property to Info object (#303)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add WebSocket support
  examples/websocket.py
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add WebSocket support (#304)
  examples/websocket.py
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Drop Python 3.7 support
  README.md
  mypi.ini
Due: blacken-docs, codespell

Add CI for Python 3.10
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Drop Python 3.7 support (#305)
  README.md
  mypi.ini
Due: blacken-docs, codespell

YAML...
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

:bug: - Fix tests
  tests/test_wled.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

:label: - Change live mode to enum
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

:rotating_light: - Fix for flake8
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

:sparkles: - Add handling of live override mode
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add handling of live override mode (#298)
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Remove deprecated pin info
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Remove deprecated pin info (#314)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add Nightlight mode, extract deprecated nightlight fade from mode
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add Nightlight mode, extract deprecated nightlight fade from mode (#315)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add ability to reboot device
  examples/control.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add ability to reboot device (#321)
  examples/control.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add support for WLED presets
  examples/control.py
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix updates
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

If supporting presets, don't use int results
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add support for WLED presets (#322)
  examples/control.py
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix support for older WLED presets
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Path conditions:
  bandit: any of: ^src/ and \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pytest: any of: \.py$
  pyupgrade: any of: \.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
