Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

ruff:
  name: 🐶 Ruff
  language: system
  entry: poetry run ruff --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

prettier:
  name: 💄 Ensuring files are prettier
  language: system
  entry: npm run prettier
  pass_filenames: false

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Ignore .venv folder for YAMLlint
  .yamllint
Due: codespell

Ignore .venv folder for YAMLlint (#1020)
  .yamllint
Due: codespell

Supress warning
  examples/control.py
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Apply suggestions from code review
  .github/workflows/linting.yaml
Due: check-yaml, codespell, yamllint

Add Python 3.12, Drop Python 3.10
  .github/labels.yml
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  pyproject.toml
  sonar-project.properties
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Add Python 3.12, Drop Python 3.10 (#1134)
  .github/labels.yml
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  pyproject.toml
  sonar-project.properties
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Added CCT support
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update .github/workflows/linting.yaml
  .github/workflows/linting.yaml
Due: check-yaml, codespell, yamllint

Update development toolchain
  .devcontainer/devcontainer.json
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: blacken-docs, check-json, check-toml, check-yaml, codespell, yamllint

Update development toolchain (#1151)
  .devcontainer/devcontainer.json
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: blacken-docs, check-json, check-toml, check-yaml, codespell, yamllint

Replace async_timeout with asyncio.timeout
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Replace async_timeout with asyncio.timeout (#1163)
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix firmware upgrade for 2M ESP8266 boards
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Run ruff
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

:fireworks: Updates maintenance/license year to 2024
  .github/LICENSE.md
  README.md
Due: blacken-docs, codespell

:fireworks: Updates maintenance/license year to 2024 (#1231)
  .github/LICENSE.md
  README.md
Due: blacken-docs, codespell

Refactor models to improve performance
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Adjust to updated ruff
  examples/ruff.toml
  pyproject.toml
  src/wled/models.py
  src/wled/wled.py
  tests/ruff.toml
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Fixed KeyError in Device on incomplete dict
  src/wled/models.py
  tests/test_device.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor models to improve performance (#1266)
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix ruff formatting conflict
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix firmware upgrade for 2M ESP8266 boards (#1213)
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Initial CLI setup
  poetry.lock
  pyproject.toml
  src/wled/cli/__init__.py
  src/wled/cli/async_typer.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Install CLI in CI
  .devcontainer/devcontainer.json
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
Due: blacken-docs, check-json, check-yaml, codespell, yamllint

Initial CLI setup (#1331)
  .devcontainer/devcontainer.json
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/wled/cli/__init__.py
  src/wled/cli/async_typer.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Add support for ESP32-C3, ESP32-S2, and ESP32-S3 board types
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix long line
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add support for ESP32-C3, ESP32-S2, and ESP32-S3 board types (#1332)
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Edit pypi package name
  .github/workflows/release.yaml
Due: check-yaml, codespell, yamllint

Fix spelling error (causing CI failure)
  .github/CODE_OF_CONDUCT.md
Due: blacken-docs, codespell

Remove unused noqa
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add mashumaro
  poetry.lock
  pyproject.toml
Due: check-toml, codespell

Move constants
  src/wled/__init__.py
  src/wled/const.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

More cleanups, rename Live -> LiveDataOverride to match API
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

More cleanups, rename Live -> LiveDataOverride to match API
  src/wled/models.py
  src/wled/utils.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Migrate NightLight model to mashumaro
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Migrate UDP Sync model to mashumaro
  src/wled/__init__.py
  src/wled/const.py
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Migrate Effect and Palette models to mashumaro
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Migrate wifi model to mashumaro
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
