Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

bandit:
  name: 🎰 Checking using bandit
  language: system
  entry: poetry run bandit
  require_serial: true

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

debug-statements:
  name: 🪵  Debug Statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

flake8:
  name: 👔 Enforcing style guide with flake8
  language: system
  entry: poetry run flake8
  require_serial: true

isort:
  name: 🔀 Sort all imports with isort
  language: system
  entry: poetry run isort

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pyright:
  name: 🆎 Static type checking using pyright
  language: system
  entry: npm run pyright
  pass_filenames: false

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

pyupgrade:
  name: 🆙 Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py36-plus

vulture:
  name: 🔍 Find unused Python code with Vulture
  language: system
  entry: poetry run vulture
  pass_filenames: false
  require_serial: true

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Add upgrade support for Ethernet boards
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Upgrade example improvements
  examples/upgrade.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

WLED Upgrade improvements (#468)
  examples/upgrade.py
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Bump all subdependencies
  poetry.lock
Due: none

Bump all subdependencies (#488)
  poetry.lock
Due: none

Prevent model issues when preset 0 doesn't exists
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Prevent model issues when preset 0 doesn't exists (#489)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Accept Awesome version object as version argument in upgrade
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix outdated example in README
  README.md
Due: blacken-docs, codespell

Accept Awesome version object as version argument in upgrade (#494)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix outdated example in README (#495)
  README.md
Due: blacken-docs, codespell

:fireworks: Updates maintenance/license year to 2022
  LICENSE.md
  README.md
Due: blacken-docs, codespell

Use a single version cache for all instances
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

:fireworks: Updates maintenance/license year to 2022 (#538)
  LICENSE.md
  README.md
Due: blacken-docs, codespell

Use a single version cache for all instances (#539)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Update all sub-dependencies
  poetry.lock
Due: none

Allow version checks to GitHub to fail
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Update all sub-dependencies (#540)
  poetry.lock
Due: none

Allow version checks to GitHub to fail (#541)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Ignore unknown versions of WLED
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Ignore unknown versions of WLED (#542)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Ensure we have the right accept headers set
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Ensure we have the right accept headers set (#543)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Guard against incorrect release channels
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Guard against incorrect release channels (#544)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Catch asyncio timeout exception when reading request response
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Catch asyncio timeout exception when reading request response (#549)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Refactor invalid version handling
  poetry.lock
  pyproject.toml
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add CCT Leds information
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Refactor invalid version handling (#555)
  poetry.lock
  pyproject.toml
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add CCT Leds information (#556)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Update .deepsource.toml
  .deepsource.toml
Due: check-toml, codespell

Fix end of line in deepsource config
  .deepsource.toml
Due: check-toml, codespell

Update all sub-dependencies (#567)
  .deepsource.toml
  poetry.lock
Due: check-toml, codespell

Stricter typing
  README.md
  examples/control.py
  examples/upgrade.py
  examples/websocket.py
  mypi.ini
  pyproject.toml
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Drop Python 3.8 support
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  pyproject.toml
Due: blacken-docs, check-toml, check-yaml, codespell, yamllint

Stricter typing, drop Python 3.8 support (#568)
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  examples/control.py
  examples/upgrade.py
  examples/websocket.py
  mypi.ini
  pyproject.toml
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

Fix nightlight mode for sunrise
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix nightlight mode for sunrise (#569)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Path conditions:
  bandit: any of: ^src/ and \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pytest: any of: \.py$
  pyupgrade: any of: \.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
