Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

ruff:
  name: 🐶 Ruff
  language: system
  entry: poetry run ruff --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

prettier:
  name: 💄 Ensuring files are prettier
  language: system
  entry: npm run prettier
  pass_filenames: false

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Tell whether a release has firmware for the device (#2176)
  README.md
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Mark the project as production ready for 1.0.0 (#2178)
  README.md
  pyproject.toml
Due: blacken-docs, check-toml, codespell

Read the LED setup from the device's configuration
  README.md
  src/wled/__init__.py
  src/wled/const.py
  src/wled/models.py
  src/wled/utils.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
  tests/conftest.py
  tests/fixtures/led_config/wled-16.0.0-ws2805.json
  tests/fixtures/led_config/wled-16.0.0-ws2812.json
  tests/fixtures/led_config/wled-mm-14.5.1-dev-hub75.json
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Find the exact white, and keep the LED setup current and honest
  src/wled/utils.py
  src/wled/wled.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refresh the LED setup even while another list keeps failing
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Read the LED setup from the device's configuration (#2179)
  README.md
  src/wled/__init__.py
  src/wled/const.py
  src/wled/models.py
  src/wled/utils.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
  tests/conftest.py
  tests/fixtures/led_config/wled-16.0.0-ws2805.json
  tests/fixtures/led_config/wled-16.0.0-ws2812.json
  tests/fixtures/led_config/wled-mm-14.5.1-dev-hub75.json
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Don't offer or start upgrades on WLED builds without OTA
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Don't offer or start upgrades on WLED builds without OTA (#2187)
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
