Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$

Document firmware release asset naming
  README.md
Due: blacken-docs, codespell

Clarify firmware release asset brand
  README.md
Due: blacken-docs, codespell

Verify firmware SHA256 digest before uploading to device
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor upgrade() to reduce linter suppressions
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

ci: add pytest job for minimum dependency versions
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

ci: fix pytest-min-deps job based on review feedback
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Fix connection leaks and misleading error messages in upgrade
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

ci: add pytest-cov to min-deps test dependencies
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Add more tests cases
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

fixup! Add more tests cases
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update README.md
  README.md
Due: blacken-docs, codespell

Trim trailing spaces
  README.md
Due: blacken-docs, codespell

Fetch effects from /json/effects to handle ESP8266 buffer truncation
  src/wled/wled.py
  tests/conftest.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Address review comments on effects fetch PR
  src/wled/wled.py
  tests/conftest.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Prevent truncated /json effects from overwriting cached full list
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Use is None guards for uptime and fxcount; fix outdated comment
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix empty-effects guard; isolate restart detection from fxcount change
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix misleading error message; remove dead effects-is-None check
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add method and path attributes to response error exceptions
  src/wled/exceptions.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Make message argument optional to preserve backward compatibility
  src/wled/exceptions.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Restructure exception hierarchy for response errors
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Preserve exc.args backward compatibility and add WLEDStatusError test
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Document WLEDStatusError in listen() and update() docstrings
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Potential fix for pull request finding
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove redundant mock
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

feat: Add support for the AudioReactive usermod
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

fix: Update test snapshots for AudioReactive field
  tests/__snapshots__/test_models.ambr
Due: codespell

Ignore null effect and palette names
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Sync tooling, docs, and workflows with sibling libraries
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue.yaml
  .github/workflows/codeql.yaml
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  AI_POLICY.md
  CLAUDE.md
  pyproject.toml
Due: blacken-docs, check-toml, check-yaml, codespell, yamllint

Sync tooling, docs, and workflows with sibling libraries (#2102)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/issue.yaml
  .github/workflows/codeql.yaml
  .github/workflows/linting.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  AI_POLICY.md
  CLAUDE.md
  pyproject.toml
Due: blacken-docs, check-toml, check-yaml, codespell, yamllint

Ignore null effect and palette names (#2090)
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fetch palettes from their own endpoint too, and fall back on failure
  src/wled/wled.py
  tests/conftest.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Cover the catalog check when info is unusable
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Cache effects and palettes separately and use them on every update
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Raise when the device does not accept a firmware upload
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fetch effects and palettes from their own endpoints to handle truncated /json (#2083)
  src/wled/wled.py
  tests/conftest.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Raise when the device does not accept a firmware upload (#2103)
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add params to request() for query strings
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add params to request() for query strings (#2104)
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Validate the firmware repository before using it in the download URL
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest
