Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

bandit:
  name: 🎰 Checking using bandit
  language: system
  entry: poetry run bandit
  require_serial: true

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

debug-statements:
  name: 🪵  Debug Statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

flake8:
  name: 👔 Enforcing style guide with flake8
  language: system
  entry: poetry run flake8
  require_serial: true

isort:
  name: 🔀 Sort all imports with isort
  language: system
  entry: poetry run isort

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pyright:
  name: 🆎 Static type checking using pyright
  language: system
  entry: npm run pyright
  pass_filenames: false

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

pyupgrade:
  name: 🆙 Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py36-plus

vulture:
  name: 🔍 Find unused Python code with Vulture
  language: system
  entry: poetry run vulture
  pass_filenames: false
  require_serial: true

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Fix offline operation; Raise WLEDConnectionError in test
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Ran black
  tests/test_wled.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix offline operation (#608)
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Detect ESP01/ESP02 correctly
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Detect ESP01/ESP02 correctly (#640)
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Change codecov.io to app.codecov.io
  README.md
Due: blacken-docs, codespell

Update all sub-dependencies
  poetry.lock
Due: none

:rocket: Simplify CI runs, add Python 3.11
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Remove Python 3.11, peotry doesn't like it yet
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Update all sub-dependencies (#686)
  poetry.lock
Due: none

:rocket: Simplify CI runs, add Python 3.11 (#687)
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Delete README.md
  README.md
Due: blacken-docs, codespell

Add support for light capabilities
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add support for light capabilities (#742)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Export LightCapability from main module
  src/wled/__init__.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Export LightCapability from main module (#743)
  src/wled/__init__.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix spelling errors in code docs
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

✔ Fix spelling errors in code docs (#871)
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Unnecessary parentheses after keyword (PYL-C0325)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Unnecessary parentheses after keyword (PYL-C0325) (#872)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add Python 3.11 support
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

🐍 Add Python 3.11 support (#873)
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Add (undocumented) manual white light capability
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add (undocumented) manual white light capability (#876)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add ability to control individual LEDs of segments
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add ability to control individual LEDs of segments (#877)
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix integer playlist durations and transitions
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Create arrays from single value
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

:fireworks: Updates maintenance/license year to 2023
  LICENSE.md
  README.md
Due: blacken-docs, codespell

:fireworks: Updates maintenance/license year to 2023 (#880)
  LICENSE.md
  README.md
Due: blacken-docs, codespell

Add IP address to info class
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add IP address to info class (#910)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Collection of structural refactoring
  .deepsource.toml
  .editorconfig
  .flake8
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/LICENSE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/requirements.txt
  .github/workflows/stale.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .gitignore
  .nvmrc
  .pre-commit-config.yaml
  .yamllint
  README.md
  examples/ruff.toml
  examples/websocket.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  sonar-project.properties
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/models.py
  src/wled/wled.py
  tests/ruff.toml
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

Collection of structural refactoring (#961)
  .deepsource.toml
  .editorconfig
  .flake8
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/LICENSE.md
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/requirements.txt
  .github/workflows/stale.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .gitignore
  .nvmrc
  .pre-commit-config.yaml
  .yamllint
  README.md
  examples/ruff.toml
  examples/websocket.py
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  sonar-project.properties
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/models.py
  src/wled/wled.py
  tests/ruff.toml
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

Collection of development/ci env tweaks
  .devcontainer/devcontainer.json
  .editorconfig
  .github/renovate.json
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  pyproject.toml
Due: blacken-docs, check-json, check-toml, check-yaml, codespell, yamllint

Collection of development/ci env tweaks (#968)
  .devcontainer/devcontainer.json
  .editorconfig
  .github/renovate.json
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  README.md
  pyproject.toml
Due: blacken-docs, check-json, check-toml, check-yaml, codespell, yamllint

Fix codecov badge
  README.md
Due: blacken-docs, codespell

CI workflow fixes for forked PRs
  .github/workflows/pr-labels.yaml
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

CI workflow fixes for forked PRs (#970)
  .github/workflows/pr-labels.yaml
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

feat: Initial commit to add named segements
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Path conditions:
  bandit: any of: ^src/ and \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pytest: any of: \.py$
  pyupgrade: any of: \.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
