Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$

fixup! fixup! fixup! fixup! fixup! Simplify code
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Support WLED 16.0.0+ custom palette ID change with backwards compatibility (#2057)
  src/wled/const.py
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Filter out RSVD placeholder effects from effect list (#2053)
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/fixtures/wled.json
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Refactor: Extract RSVD filtering logic into _build_effects_map helper
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Migrate from backoff to python-backoff
  poetry.lock
  pyproject.toml
Due: check-toml, codespell

fixup! Refactor: Extract RSVD filtering logic into _build_effects_map helper
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

fixup! fixup! Refactor: Extract RSVD filtering logic into _build_effects_map helper
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Revert "fixup! fixup! Refactor: Extract RSVD filtering logic into _build_effects_map helper"
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Filter out RSVD placeholder effects from effect list (#2059)
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/fixtures/wled.json
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Replace discontinued devcontainers-contrib with devcontainers-extra for poetry feature
  .devcontainer/devcontainer.json
Due: check-json, codespell

Update Poetry feature version in devcontainer.json
  .devcontainer/devcontainer.json
Due: check-json, codespell

Support usermod palettes
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

fixup! Support usermod palettes
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add defensive bounds checks and version gating for usermod palettes
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Pretty print syrupy snapshots
  tests/conftest.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update snapshots with pretty-printed format
  tests/__snapshots__/test_models.ambr
Due: codespell

Add snapshot for each WLED releases
  tests/__snapshots__/test_models.ambr
  tests/fixtures/versions/0.14.3.json
  tests/fixtures/versions/0.14.4.json
  tests/fixtures/versions/0.15.0.json
  tests/fixtures/versions/0.15.1.json
  tests/fixtures/versions/0.15.2.json
  tests/fixtures/versions/0.15.3.json
  tests/fixtures/versions/0.15.4.json
  tests/fixtures/versions/16.0.0.json
  tests/fixtures/versions/README.md
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

fixup! Add snapshot for each WLED releases
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Potential fix for pull request finding
  tests/conftest.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Replace asyncio.iscoroutinefunction with inspect.iscoroutinefunction
  src/wled/cli/async_typer.py
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Replace asyncio.iscoroutinefunction with inspect.iscoroutinefunction (#2066)
  src/wled/cli/async_typer.py
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Migrate from backoff to python-backoff (#2060)
  poetry.lock
  pyproject.toml
Due: check-toml, codespell

Replace discontinued devcontainers-contrib with devcontainers-extra (#2062)
  .devcontainer/devcontainer.json
Due: check-json, codespell

Pretty print syrupy snapshots (#2064)
  tests/__snapshots__/test_models.ambr
  tests/conftest.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove tests/fixtures/versions/README.md
  tests/fixtures/versions/README.md
Due: blacken-docs, codespell

copilot comments
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add snapshot for each WLED release (#2065)
  tests/__snapshots__/test_models.ambr
  tests/fixtures/versions/0.14.3.json
  tests/fixtures/versions/0.14.4.json
  tests/fixtures/versions/0.15.0.json
  tests/fixtures/versions/0.15.1.json
  tests/fixtures/versions/0.15.2.json
  tests/fixtures/versions/0.15.3.json
  tests/fixtures/versions/0.15.4.json
  tests/fixtures/versions/16.0.0.json
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Add support for usermod palettes (#2058)
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update snapshots
  tests/__snapshots__/test_models.ambr
Due: codespell

Update snapshots (#2068)
  tests/__snapshots__/test_models.ambr
Due: codespell

Remove unreachable None check in async_display_service_info
  src/wled/cli/__init__.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add vulture dead-code analyzer to CI and pre-commit
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Remove unreachable None check in async_display_service_info (#2074)
  src/wled/cli/__init__.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Extract shared deserialize helpers on Device
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor WLED.segment() to accept a SegmentUpdate dataclass
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Suppress pylint too-many-arguments on _build_palette_dict
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

fix: replace SegmentColor docstring with comment
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

pr-review: address feedback on #2077
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Use device-reported repo for upgrades
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Handle blank upgrade repositories
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest
