Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture, yamllint

bandit:
  name: 🎰 Checking using bandit
  language: system
  entry: poetry run bandit
  require_serial: true

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

debug-statements:
  name: 🪵  Debug Statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

flake8:
  name: 👔 Enforcing style guide with flake8
  language: system
  entry: poetry run flake8
  require_serial: true

isort:
  name: 🔀 Sort all imports with isort
  language: system
  entry: poetry run isort

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pyright:
  name: 🆎 Static type checking using pyright
  language: system
  entry: npm run pyright
  pass_filenames: false

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

pyupgrade:
  name: 🆙 Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py36-plus

vulture:
  name: 🔍 Find unused Python code with Vulture
  language: system
  entry: poetry run vulture
  pass_filenames: false
  require_serial: true

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Fix support for older WLED presets (#336)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Update all sub-dependencies
  poetry.lock
Due: none

Gracefully handle missing preset name
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Update all sub-dependencies (#355)
  poetry.lock
Due: none

Gracefully handle missing preset name (#356)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add Python 3.10 (beta) to CI
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Try with range
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Hardcode b4 it is...
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Versioning is hard
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Extend Pylint checks
  pyproject.toml
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Extend Pylint checks (#358)
  pyproject.toml
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add playlist support
  examples/control.py
  pyproject.toml
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Ensure next() won't throw up
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add playlist support (#359)
  examples/control.py
  pyproject.toml
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Update all sub-dependencies (#458)
  poetry.lock
Due: none

Fix pylint warnings
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix pylint warnings (#459)
  src/wled/models.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Allow manual dispatching of workflows
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Don't check for XML
  .github/workflows/linting.yaml
Due: check-yaml, codespell, yamllint

Fix linting
  .github/workflows/linting.yaml
Due: check-yaml, codespell, yamllint

Allow manual dispatching of workflows (#460)
  .github/workflows/codeql.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Add Python 3.10 support
  .github/workflows/tests.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Add typing checks as well
  .github/workflows/typing.yaml
Due: check-yaml, codespell, yamllint

Add Python 3.10 support (#461)
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Add support for Filesystem information
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add support for Filesystem information (#462)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix segment reverse state
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Fix segment reverse state (#463)
  src/wled/models.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Replace packaging version tools with AwesomeVersion
  poetry.lock
  pyproject.toml
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Replace packaging version tools with AwesomeVersion (#464)
  poetry.lock
  pyproject.toml
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add possibility to upgrade WLED device
  .flake8
  examples/upgrade.py
  poetry.lock
  pyproject.toml
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add possibility to upgrade WLED device (#465)
  .flake8
  examples/upgrade.py
  poetry.lock
  pyproject.toml
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Use modern asyncio bootstrap in examples
  README.md
  examples/control.py
  examples/upgrade.py
  examples/websocket.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Use modern asyncio bootstrap in examples (#466)
  README.md
  examples/control.py
  examples/upgrade.py
  examples/websocket.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Remove defunct deepcode from README
  README.md
Due: blacken-docs, codespell

Remove defunct deepcode from README (#467)
  README.md
Due: blacken-docs, codespell

Extend upgrade example
  examples/upgrade.py
Due: black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Raise WLEDUpgradeError instead
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Add version checks
  src/wled/wled.py
Due: bandit, black, blacken-docs, check-ast, check-docstring-first, codespell, debug-statements, flake8, isort, mypy, pylint, pyright, pytest, pyupgrade, vulture

Path conditions:
  bandit: any of: ^src/ and \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pyright: any of: \.py$
  pytest: any of: \.py$
  pyupgrade: any of: \.py$
  vulture: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
