Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

ruff:
  name: 🐶 Ruff
  language: system
  entry: poetry run ruff --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

prettier:
  name: 💄 Ensuring files are prettier
  language: system
  entry: npm run prettier
  pass_filenames: false

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Fix linting warnings
  pyproject.toml
  src/wled/__init__.py
  src/wled/cli/async_typer.py
  src/wled/wled.py
  tests/ruff.toml
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Migrate pre-commit configuration
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Migrate pre-commit configuration (#1582)
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Add Python 3.13 support
  .github/workflows/tests.yaml
  pyproject.toml
  sonar-project.properties
Due: check-toml, check-yaml, codespell, yamllint

Add Python 3.13 support (#1583)
  .github/workflows/tests.yaml
  pyproject.toml
  sonar-project.properties
Due: check-toml, check-yaml, codespell, yamllint

added support for custom palettes
  src/wled/cli/__init__.py
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove hard-coded device ip
  examples/upgrade.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Use release name to define bin name, where provided
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove debug
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

📖 Update documentation for ABL power metrics and add codespell configuration
  pyproject.toml
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Apply coderabbit suggestions
  examples/upgrade.py
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update URLs to to reflect the new wled-dev org
  src/wled/cli/__init__.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Code cleanup
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

WLED org now called just wled not wled-dev
  src/wled/cli/__init__.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Include filename in error so clearer why update failes when specific release type is needed
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Revert "Remove hard-coded device ip"
  examples/upgrade.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add segment name
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Enhance segment name handling and documentation
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix link to contribution guidelines in README
  README.md
Due: blacken-docs, codespell

Fix link to contribution guidelines in README (#1855)
  README.md
Due: blacken-docs, codespell

In poll and listen mode, fetch presets.json when needed.
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Don't rely on device's own clock.
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Use nicer types for the presets version.
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add freeze support to segment model and method
  src/wled/models.py
  src/wled/wled.py
  tests/fixtures/state_with_segment_and_freeze.json
  tests/test_freeze.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Formatting
  tests/fixtures/state_with_segment_and_freeze.json
  tests/test_freeze.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Updated test device data and added write freeze test case
  poetry.lock
  pyproject.toml
  tests/fixtures/state_with_segment_and_freeze.json
  tests/fixtures/test_device_data.json
  tests/test_freeze.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, codespell, mypy, pylint, pytest

Removed explicit frz: false in segments with id 2 and 3. Added assertions for freeze = false to test default behavior of Segment model
  tests/fixtures/test_device_data.json
  tests/test_freeze.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Simplify fixtures dir. Fix assertion in write freeze test. Add trailing newline.
  tests/test_freeze.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update test data and add trailing newline.
  tests/fixtures/test_device_data.json
Due: check-json, codespell

Add basic models and update method tests
  tests/conftest.py
  tests/fixtures/get_json.json
  tests/fixtures/get_presets.json
  tests/test_models.py
  tests/test_wled.py
  tests/test_wled_releases.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

🧰 Modernize project tooling, CI, and documentation
  .devcontainer/devcontainer.json
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/LICENSE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/release-drafter.yml
  .github/renovate.json
  .github/workflows/codeql.yaml
  .github/workflows/dependency-review.yaml
  .github/workflows/labels.yaml
  .github/workflows/linting.yaml
  .github/workflows/lock.yaml
  .github/workflows/pr-labels.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/requirements.txt
  .github/workflows/scorecard.yml
  .github/workflows/stale.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  examples/upgrade.py
  poetry.lock
  pyproject.toml
  sonar-project.properties
  src/wled/cli/__init__.py
  src/wled/cli/async_typer.py
  src/wled/const.py
  src/wled/exceptions.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Extend tests
  tests/fixtures/cct.json
  tests/fixtures/rgb.json
  tests/fixtures/rgb_single_segment.json
  tests/fixtures/rgb_websocket.json
  tests/fixtures/rgbw.json
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Extend tests
  tests/__snapshots__/test_models.ambr
  tests/conftest.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix license
  LICENSE.md
Due: blacken-docs, codespell

Tune yamllint
  .yamllint
Due: codespell

Moar test tweaks
  tests/conftest.py
  tests/fixtures/presets.json
  tests/fixtures/wled.json
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Moar test tweaks
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix CI failures for pylint and ty
  pyproject.toml
  src/wled/cli/__init__.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
