Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

ruff:
  name: 🐶 Ruff
  language: system
  entry: poetry run ruff --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

prettier:
  name: 💄 Ensuring files are prettier
  language: system
  entry: npm run prettier
  pass_filenames: false

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Use device-reported repository for upgrades (#2078)
  README.md
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Pick the firmware from the GitHub release and verify its digest
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Pick the firmware from the GitHub release and verify its digest (#2105)
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Improve exception hierarchy with structured method/path/status attributes (#2085)
  src/wled/__init__.py
  src/wled/exceptions.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Raise dependency floors to versions that actually work, and test them
  .github/workflows/tests.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Drop the env context from the lowest dependencies job name
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Point the lowest dependencies job at Poetry's environment and really downgrade
  .github/workflows/tests.yaml
Due: check-yaml, codespell, yamllint

Raise dependency floors to versions that actually work, and test them in CI (#2106)
  .github/workflows/tests.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Add actionlint to catch workflow mistakes zizmor and yamllint miss
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Add actionlint to catch workflow mistakes zizmor and yamllint miss (#2108)
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

Share the effect, palette, and preset parsing between deserialize and update
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Keep entries with an empty or odd playlist value as presets
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix the Prettier hook, which never ran, and the YAML indentation
  .editorconfig
  .github/workflows/lock.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  tests/fixtures/presets.json
  tests/fixtures/wled.json
Due: check-json, check-yaml, codespell, yamllint

Share the effect, palette, and preset parsing between deserialize and update (#2109)
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix the Prettier hook, which never ran, and the YAML indentation (#2110)
  .editorconfig
  .github/workflows/lock.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  tests/fixtures/presets.json
  tests/fixtures/wled.json
Due: check-json, check-yaml, codespell, yamllint

Add support for the AudioReactive usermod (#2086)
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add a friendly CLI entry point, move CLI tests, and document the CLI and API
  AGENTS.md
  README.md
  pyproject.toml
  src/wled/_cli.py
  tests/cli/__init__.py
  tests/cli/__snapshots__/test_cli.ambr
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Test the CLI shim by making the import really fail
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Only upgrade forward in the README example
  README.md
Due: blacken-docs, codespell

Add a friendly CLI entry point, move CLI tests, and document the CLI and API (#2111)
  AGENTS.md
  README.md
  pyproject.toml
  src/wled/_cli.py
  tests/cli/__init__.py
  tests/cli/__snapshots__/test_cli.ambr
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Check the CLI group against Typer, not click
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Check the CLI group against Typer, not click (#2112)
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add segments() to change several segments in one request
  README.md
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add segments() to change several segments in one request (#2154)
  README.md
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add WLED_HOST and --json to the CLI
  README.md
  src/wled/cli/__init__.py
  src/wled/cli/ruff.toml
  tests/cli/__snapshots__/test_cli.ambr
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Prepare for ruff 0.16 and ty 0.0.84
  pyproject.toml
  tests/cli/test_cli.py
  tests/ruff.toml
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Prepare for ruff 0.16 and ty 0.0.84 (#2156)
  pyproject.toml
  tests/cli/test_cli.py
  tests/ruff.toml
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add WLED_HOST and --json to the CLI (#2155)
  README.md
  src/wled/cli/__init__.py
  src/wled/cli/ruff.toml
  tests/cli/__snapshots__/test_cli.ambr
  tests/cli/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add sensor attribute to Info class
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add SensorReading data class and predesearlize hook to ensure malformed sensor data doesn't break the deserialization
  src/wled/__init__.py
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update snapshots
  tests/__snapshots__/test_models.ambr
Due: codespell

Reject non-dict sensor values and non-string units
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Accept bare sensor values and strip padded units
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add support for sensors from usermods (#2157)
  src/wled/__init__.py
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Key segments by the ID the device reports
  src/wled/models.py
  src/wled/wled.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Key segments by the ID the device reports (#2159)
  src/wled/models.py
  src/wled/wled.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Parse colors and playlists the way WLED does
  src/wled/models.py
  tests/fixtures/presets.json
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Follow WLED for short color lists, partial color objects, and missing transitions
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Make polling lighter and more robust against slow or busy devices
  src/wled/wled.py
  tests/conftest.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Parse colors and playlists the way WLED does (#2160)
  src/wled/models.py
  tests/fixtures/presets.json
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
