Repository frenck/python-wled: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, prettier, pylint, pytest, yamllint

ruff:
  name: 🐶 Ruff
  language: system
  entry: poetry run ruff --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

black:
  name: ☕️ Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: ☕️ Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

check-ast:
  name: 🐍 Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: ℹ️  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ｛ Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: ✅ Check TOML files
  language: system
  entry: poetry run check-toml

check-yaml:
  name: ✅ Check YAML files
  language: system
  entry: poetry run check-yaml

codespell:
  name: ✅ Check code for common misspellings
  language: system
  entry: poetry run codespell

mypy:
  name: 🆎 Static type checking using mypy
  language: system
  entry: poetry run mypy
  require_serial: true

prettier:
  name: 💄 Ensuring files are prettier
  language: system
  entry: npm run prettier
  pass_filenames: false

pylint:
  name: 🌟 Starring code with pylint
  language: system
  entry: poetry run pylint

pytest:
  name: 🧪 Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest
  pass_filenames: false

yamllint:
  name: 🎗  Check YAML files with yamllint
  language: system
  entry: poetry run yamllint

Exclude CLI from ty checking (optional dependencies)
  .github/workflows/typing.yaml
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Add CLI tests and install extras in CI
  .github/workflows/linting.yaml
  .github/workflows/tests.yaml
  .github/workflows/typing.yaml
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Use snapshot testing for CLI output
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Exclude snapshot files from trailing-whitespace hook
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Address PR review feedback
  .editorconfig
  src/wled/cli/__init__.py
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Address second round of PR review feedback
  .devcontainer/devcontainer.json
  .github/workflows/release.yaml
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, check-yaml, codespell, mypy, pylint, pytest, yamllint

Update WLED GitHub URLs from Aircoookie to wled org
  .github/SECURITY.md
  src/wled/cli/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_cli.ambr
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add segment name field
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
  tests/fixtures/rgb.json
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Fix beta version comparison rejecting valid firmware
  src/wled/models.py
  tests/test_models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add freeze support to segment model and method (#1995)
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add release-aware firmware upgrade
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Device release aware update (#1646)
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_models.ambr
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Detect preset changes to avoid unnecessary presets.json fetches
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Listen for preset changes (#1931)
  src/wled/wled.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add support for nightly releases in the Releases model
  src/wled/cli/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Pylint
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add support for nightly releases in the Releases model (#2036)
  src/wled/cli/__init__.py
  src/wled/models.py
  src/wled/wled.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Accept relative values in segment brightness and speed
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Accept relative values in segment brightness and speed (#2037)
  src/wled/models.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Use orjson for request serialization to preserve unicode
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Use orjson for request serialization to preserve unicode (#2038)
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add configurable repository for releases and upgrades
  src/wled/const.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_cli.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add configurable repository for releases and upgrades (#2039)
  src/wled/const.py
  src/wled/models.py
  src/wled/wled.py
  tests/test_cli.py
  tests/test_models.py
  tests/test_wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add reset command to CLI
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update tests/test_cli.py
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add reset command to CLI (#2040)
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add upgrade command to CLI
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add upgrade command to CLI (#2041)
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add state command to CLI
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add state command to CLI (#2042)
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add on, off, and brightness commands to CLI
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add on, off, and brightness commands to CLI (#2043)
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add preset and playlist commands to CLI
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add preset and playlist commands to CLI (#2044)
  src/wled/cli/__init__.py
  tests/__snapshots__/test_cli.ambr
  tests/test_cli.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add missing WLED API fields to models
  pyproject.toml
  src/wled/__init__.py
  src/wled/const.py
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add missing WLED API fields to models (#2045)
  pyproject.toml
  src/wled/__init__.py
  src/wled/const.py
  src/wled/models.py
  tests/__snapshots__/test_models.ambr
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Pre-release cleanup
  README.md
  examples/control.py
  examples/websocket.py
  poetry.lock
  pyproject.toml
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Pre-release cleanup (#2046)
  README.md
  examples/control.py
  examples/websocket.py
  poetry.lock
  pyproject.toml
  src/wled/__init__.py
  src/wled/models.py
  src/wled/wled.py
Due: ruff, black, blacken-docs, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Fix install command in README.md
  README.md
Due: blacken-docs, codespell

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  prettier: any of: \.(yaml|yml)$ and \.json$ and \.(md|markdown|mdown)$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
